#template {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
}

.container {
    background-color: black;
    position: relative;
}

p {
    font-weight: bold;
    
}

#guessContainer0 {
    position: absolute;
    display: block;
    top: 13rem;
    left: 9rem;
    width:25rem;
    height:4.5rem;
}
#numberContainer0 {
    position: absolute;
    display: block;
    top: 13rem;
    left: 37.5rem;
    width:25rem;
    height:4.5rem;
}
#guessContainer1 {
    position: absolute;
    display: block;
    top: 21rem;
    left: 9rem;
    width:25rem;
    height:4.5rem;
}
#numberContainer1 {
    position: absolute;
    display: block;
    top: 21rem;
    left: 37.5rem;
    width:25rem;
    height:4.5rem;
}
#guessContainer2 {
    position: absolute;
    display: block;
    top: 28.5rem;
    left: 9rem;
    width:25rem;
    height:4.5rem;
}
#numberContainer2 {
    position: absolute;
    display: block;
    top: 28.5rem;
    left: 37.5rem;
    width:25rem;
    height:4.5rem;
}
#guessContainer3 {
    position: absolute;
    display: block;
    top: 36.5rem;
    left: 9rem;
    width:25rem;
    height:4.5rem;
}
#numberContainer3 {
    position: absolute;
    display: block;
    top: 36.5rem;
    left: 37.5rem;
    width:25rem;
    height:4.5rem;
}

.guess{
    margin-bottom: 4.4rem;
    font-size: 36px;
    text-align: center;
}
h1{
    color:red;
    font-size: 72px;
    position: absolute;
    display: block;
    top:1rem;
    left:10rem;
}